@import url(style.css);

/* Estilização do Contato */
#contato {
    width: 40%;
    margin: 2rem auto;
    padding: 1rem 2rem 4rem 2rem;
    border-radius: 2rem;
    background: #4b58a4;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .2);
    color: white;
}

.contato {
    width: 80%;
    margin: 3rem auto 0 auto;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.obrigatorio {
    text-align: end;
    font-size: 12px;
}

.contato input, .contato select {
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: .25rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
}

.input-padrão {
    height: 30px;
}

.mensagem {
    height: 90px;
}

.mensagem::placeholder {
    position: relative;
    top: -30px;
}

input::placeholder {
    color: black;
}

.contato button {
    margin-top: 2rem;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .14);
    font-family: 'Fraunces', serif;
    font-size: 20px;
}

.contato button:hover {
    transition: .5s;
    background: rgb(255, 102, 0);
}


@media screen and (max-width: 1024px) {
    /* Responsividade do Contato */
    #contato {
       min-width: 425px;
    }
}
